html, body {
 overflow: hidden;
 height: 100%;
 margin: 0;
}

.new-line {
 display: block;
}

#menu {
 position: absolute;
}

.textarea-container {
 display: flex;
 height: 80%;
}

.line-numbers {
 resize: none;
 height: 100%;
 max-width: 40px;
 background-color: #f9f9f9;
 
 border: none;
 overflow-y: auto;
 overflow-x: auto;
 overflow: hidden;
 font-family: Courier New;
}

#Input {
 resize: none;
 flex-grow: 1;
 height: 100%;
 
 border: none;
 overflow-y: auto;
}

#btn { 
 width: 130px;
 height: 22px;
 background-color: white;
 font-family: Courier New;
}      

#rules {
 width: 400px;
 height: 16px;
 font-family: Courier New;
}     

#page-name {
 background-color: lightgrey;
 width: 200px;
 height: 22px;
 font-family: Courier New;
}